.event {
    position: relative;
    padding-top: 1em;
    width: 25em;
    border-width: 1px;
    margin-bottom: 1em;
    border-style: solid;
    border-color: black;
}


/* small devices */

@media (max-width: 600px) {
    .event {
        width: 25em;
    }
    .description {
        display: none;
    }
}


/* medium devices */

@media (min-width: 600px) {
    .event {
        width: 20em;
    }
}


/* large devices */

@media (min-width: 800px) {
    .event {
        width: 25em;
    }
}

p {
    padding-left: 1em;
    padding-right: 1em;
}

.title {
    font-weight: bold;
}

.link {
    color: blue;
    cursor: pointer;
}

img {
    width: 100%;
}

.btn-buy {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 3em;
    background-color: rgb(0, 140, 186);
    font-weight: bold;
    color: white;
}