<div class="event">
    <p class="title link" (click)="displaySessions(event.id)">{{event.title}}</p>
    <p class="link" (click)="displaySessions(event.id)">{{event.subtitle}}</p>
    <img src={{event.image}} alt="event image">
    <p>{{event.startDate | date:'dd/MM/YYYY'}} - {{event.endDate | date:'dd/MM/YYYY'}}</p>
    <p class="description" [innerHTML]="event.description">{{event.description}}</p>
    <br><br>
    <button class="btn-buy" (click)="displaySessions(event.id)">Comprar</button>
</div>