<div class="container m-5">
    <div class="wrapper">
        <div class="pos-right"><label class="pointer" (click)="returnCatalog()">volver</label></div>
    </div>
    <div class="row">
        <div class="col border mx-3">
            <app-event-availability [eventInfo]="eventInfo" [cart]="cart" [error]="error" (eventEmmitter)="dataFromEventAvailability($event)"></app-event-availability>
        </div>
        <div class="col border mx-3">
            <app-shopping-cart [arrCart]="arrCart" (eventEmmitter)="dataFromShoppingCart($event)"></app-shopping-cart>
        </div>
    </div>
</div>