<table *ngFor="let cart of arrCart; let i = index" class="table table-sm">
    <thead *ngIf="displayTitle(cart)">
        <tr>
            <th colspan="3">{{cart.event.title}}</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let ticket of cart.arr_tickets; index as i">
            <td class="col" *ngIf="ticket.amount > 0">{{ticket.date | date:'dd/MM/YYYY'}}</td>
            <td class="col" *ngIf="ticket.amount > 0">{{ticket.amount}}</td>
            <td class="col" *ngIf="ticket.amount > 0"><img src="/assets/img/trash.png" alt="trash img" class="trash" width="20" height="20" (click)="lessTickets(i)"></td>
        </tr>
    </tbody>
</table>