<div class="container">
    <div class="center">
        <div class="wrapper">
            <app-card class="center" *ngFor="let event of catalog" [event]="event"></app-card>
        </div>
    </div>
</div>