.container {
    padding: 2em;
}

.container>div {
    display: flex;
}

.center {
    width: 100%;
    justify-content: center;
}

@media (min-width: 600px) {
    .wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    app-card {
        display: flex;
        padding-right: 3em;
    }
    app-card:nth-child(odd) {
        justify-content: flex-end;
    }
    app-card:nth-child(event) {
        justify-content: flex-start;
    }
}

@media (max-width: 600px) {
    .wrapper {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    app-card {
        display: flex;
        padding-right: 0em;
    }
    app-card:nth-child(odd) {
        justify-content: center;
    }
    app-card:nth-child(event) {
        justify-content: center;
    }
}