<div *ngIf="error.status === 404">
    <h3 class="text-danger">ERROR: {{error.status}}</h3>
    <h4>{{error.statusText}}</h4>
</div>
<div *ngIf="error.status === 0">
    <table class="table table-sm">
        <thead>
            <tr>
                <th colspan="5">{{eventInfo.event.title}}</th>
            </tr>
            <tr>
                <td colspan="5">{{eventInfo.event.subtitle}}</td>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let session of eventInfo.sessions; index as i">
                <td class="">Fecha: {{session.date | date:'dd/MM/YYYY'}}, Disponibilidad: {{session.availability}}</td>
                <td class="col-1">
                    <button *ngIf="cart.arr_tickets[i].amount > 0" class="btn btn-danger btn-sm mx-2" (click)="lessTickets(i)">-</button>
                </td>
                <td class="col-1  text-center">{{cart.arr_tickets[i].amount}}</td>
                <td class="col-1">
                    <button *ngIf="session.availability > 0" class="btn btn-success btn-sm mx-2" (click)="moreTickets(i)">+</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>